registry=http://registry.npmmirror.com
always-auth=false
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
disturl=https://npmmirror.com/dist
sass_binary_site=https://repo.huaweicloud.com/node-sass
electron_mirror=https://npmmirror.com/mirrors/electron/
python_mirror=https://repo.huaweicloud.com/python